# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
modules.order
Module.symvers
Mkfile.old
dkms.conf

.DS_Store

*.swp

bin/
doc/

src/framework/ast.html
src/framework/ast.png
src/framework/attribs.h
src/framework/check.c
src/framework/check.h
src/framework/check_attribs.h
src/framework/check_node.c
src/framework/check_node.h
src/framework/common-accessor-macros
src/framework/common-c-code
src/framework/common-key-tables
src/framework/common-make-assertion
src/framework/common-make-body
src/framework/common-make-head
src/framework/common-name-to-nodeenum
src/framework/common-node-access
src/framework/common-travfun
src/framework/copy_node.c
src/framework/copy_node.h
src/framework/free_attribs.h
src/framework/free_node.c
src/framework/free_node.h
src/framework/new_trav.c
src/framework/new_trav.h
src/framework/node_basic.c
src/framework/node_basic.h
src/framework/sons.h
src/framework/traverse_helper.c
src/framework/traverse_tables.c
src/framework/traverse_tables.h
src/framework/types_nodetype.h
src/framework/types_trav.h

src/scanparse/civic.lex.c
src/scanparse/civic.tab.c
src/scanparse/civic.tab.h

*.output
